# Ignore node_modules
backend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Ignore dotenv environment variable file
.env

# Ignore front-end dependencies (if using a tool like npm/yarn in frontend)
frontend/node_modules/
